.App-name{
    font-size:40px;
    font-weight: 700;
    margin: 30px 0px;
    color: #5fa8d3;
}
.user-input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(101, 157, 210);
    display: block;
    padding: 7px 15px;
    display: block;
    margin: 10px auto;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
