.App-name{
    font-size:40px;
    font-weight: 700;
    
    margin: 50px 0px;
    color: #5fa8d3;
}
.user-input{
    width: 450px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(101, 157, 210);
    display: block;
    padding: 7px 25px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 400;
}

.emoji-picker{
    position: fixed;
    top: -250px;
    left: 35%;
}
.emoji{
    width: 350px;
    height: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding-top: 6px;
    background-color: white;
    font-size: 20px;
    display: block;
    margin: 30px auto;
}
.user-input-category{
    width: 500px;
    height: 43px;
    border-radius: 20px;
    border: 1px solid rgb(101, 157, 210);
    display: block;
    padding: 7px 15px;
    display: block;
    margin: 10px auto;
}
.add-notes-btn{
    display: block;
    margin: 10px auto;
    color: white;
}
@media screen and (max-width:500px){
    .user-input{
        width: 290px;
        height: 20px;
        font-size: 20px;
        padding: 5px 20px;
    }
    .emoji{
        padding-top: 3.5px;
        height: 20px;
        font-size: 18px;
    }
    .user-input-category{
        width: 350px;
        height: 40px;
    }
}