.App-name{
    font-size:60px;
    font-weight: 700;
    margin: 30px 0px;
    color: #5fa8d3;
}
.App-description{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(54, 48, 48);
    margin: 30px;
}
.highlight{
    font-weight:400;
    color: black;
    background-color: #E4D8DC;;
}
.buttons-container{
    display: flex;
    justify-content: center;
  
}
.btn{
    margin: 40px ;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    font-weight: 690;
    cursor: pointer;
}
.feature-img{
    height: 50px;
    display: block;
    margin: auto;

}
.feature-card{
background-color: #7aabc8;
 width: 240px;
 padding: 20px;
 box-shadow:0 0 10px  #5c5c60;
 border-radius: 10px;
 margin: 20px;

}
.cards-container{
 display: flex;
 justify-content: center;
}
@media screen and (max-width:500px){
     .feature-card{
        margin-top: 30px;
        padding: 10px;
     }
     .feature-text{
        text-align: center;
     }
}