body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:#C9CCD5 ;
   
    
}
.text-centre{
    text-align: center;
}
.primary-color{
    color: #5fa8d3;
}
.secondary-color{
    color: #C9CCD5;
}
.tarsary-color{
    color: #E4D8DC;
}
.fourth-color{
    color:#FFE3E3;
}
.primary-btn{
    background-color: #e6afaf;
    color: white;
    &:hover{
        transition: 0.8s;
        background-color: #e9baba;
    }
}
.secondary-btn{
    
    background-color: #90bcd5;
    color: black;
    &:hover{
              transition: 0.8s;
             
              background-color: #3c7596;
    }
}